

<body class="home">
	<nav class="main-nav" id="main-nav">
		<a class="cities" value="miami" href="users/main">Miami</a>
		<a class="cities" value="la" href="users/la">Los Angeles</a>
		<a class="cities" value="ny" href="users/ny">New York</a>
		<a href="users/aboutus">About Us</a>
	</nav>

	<div class="page-wrap">

		<header class="main-header">
			<a href="#main-nav" class="open-menu">
				☰
			</a>
			<a href="#" class="close-menu">
				☰
			</a>

			<h1 class="wash">WASH<div class="right">Sign In/Register</div></h1>
			
		</header>

		<div class="content">
			<h1>A Whole New <br> Car Washing Experience</h1>
			<%= form_for @user, as: :session, url: session_url, html: { class: "loginform"} do |f| %>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" name="session[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="session[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<%= f.submit "Log in", class: "submit" %>
			<% end %>

			<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
			<% end %>
			
		</div>

	</div>
</div>

</body>

