<% fail %>

<body class="home">
	<nav class="main-nav" id="main-nav">
		<a href="#">This</a>
		<a href="#">Little</a>
		<a href="#">Piggy</a>
		<a href="#">Went</a>
		<a href="#">To</a>
		<a href="#">Market</a>
	</nav>

	<div class="page-wrap">

		<header class="main-header">
			<a href="#main-nav" class="open-menu">
				☰
			</a>
			<a href="#" class="close-menu">
				☰
			</a>

			<h1>The Wash</h1>
		</header>

		<div class="content">
		<h1>A Whole New <br> Car Washing Experience</h1>
		<h3>Login to start</h3>
			<!-- <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
					<li data-target="#carousel" data-slide-to="2"></li>
				</ol> -->
				<!-- Carousel items -->
				<!-- <div class="carousel-inner">
					<div class="active item"></div>
					<div class="item"></div>
					<div class="item"></div>
				</div> -->
				<!-- Carousel nav -->
				<!-- <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a> -->
			</div>

		</div>
	</div>

</body>
