<div class="cityform">
<%= form_tag "/users/ny", method: "get", class: "ny" do |t| %>
Enter your address:
<input type="text" name="address">
<%= submit_tag "Search" %>
<!-- Select a Time:
<%= select_hour(@my_time, start_hour: 1, end_hour: 12) %>
<select name="minutes">
	<option value="0">00</option>
	<option value="15">15</option>
	<option value="30">30</option>
	<option value="45">45</option>
</select>
<select name="ampm">
	<option value="am">AM</option>
	<option value="pm">PM</option>
</select> -->

<% end %>
</div>

<div id="map-canvas">
</div>